*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: monospace;
    background-color: black;
}
nav{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    font-size: 20px;
    background-color: black;
    color: green;
    border-style: dashed;
    border-color: green;
}
.nav-logo {
    height: 30px;
    width: auto;
    object-fit: contain;
}
nav a{
    text-decoration: none;
    color: green;
}
.dropdown{
    position: relative;
    color: black;
    gap: 30px;
}
.dropdown-menu{
    display: none;
    position: absolute;
    background-color: black;
    padding: 25px;
    gap: 10px;
    margin-top: 12px;
    width: 220px;
    border: 3px dashed green;
}
.dropdown-menu a{
    margin-bottom: 10px;
    display: block;
}

.dropdown:hover .dropdown-menu{
    display: block;
}
.contact {
    overflow-wrap: break-word;
}
.gbtn{
    background-color: black;
    color: green;
    border-color: green;
    border-style: dashed;
    padding: 10px;
    margin-top: -5px;
    font-family: monospace;
}
.gbtn:hover{
    background-color: green;
    color: black;
    font-family: monospace;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;

    min-height: 80vh;
    padding: 60px 10%;
}
.hw{
    font-size: 30px;
    color: green;
}
.intro {
    width: 50%;
}
.hero h1{
    font-size: 60px;
    color: green;
    font-family: monospace;
}

.hero-art {
    width: 50%;
    display: flex;
    justify-content: center;
    color: green;
}
.border{
    font-size: 20px;
    margin: 10px;
    color: green;
}
.aboutme{
font-size: 20px;
color: green;
}
.about-me{
color: green;
padding: 40px;
width: 100%;
}
.followme{
    color: green;
    border: dashed;
    border-color: green;
    background-color: black;
    margin-top: 15px;
    padding: 20px;
}
.followme:hover{
    color: black;
    background-color: green;
    font-family: monospace;
    cursor: pointer;
}
.aboute{
    font-size: 60px;
    margin: 0;
    background-color: green;
    color: black;
}
.about{
    font-size: 20px;
    margin-top: 20px;
    line-height: 1.8;
    display: block;
}
.education{
    color: green;
    padding: 40px;
    width: 100%;
}
.educ{
    font-size: 60px;
    color: black;
    background-color: green;
}
.edu{
    font-size: 20px;
    margin-top: 20px;
    line-height: 1.8;
    display: block;
}
.skills{
     color: green;
    padding: 40px;
    width: 100%;
}
.skill-info{
    color: black;
    background-color: green;
    font-size: 60px;
    margin: 0;
}
.skill{
    border: dashed;
    padding: 25px;
    width: 70%;
    margin-top: 20px;
    font-family: monospace;
    font-size: 20px;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.gallery{
    color: green;
    padding: 40px;
    width: 100%;
}
.gallery-title{
    color: black;
    font-size: 60px;
    background-color: green;
}
.gallery-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
.gallery-items img{
     width: 100%;
     height: auto;
     object-fit: cover;
     display: block;
     margin-top: 20px;
}
.title{
    font-size: 30px;
    text-align: center;
    margin: 10px;
    border: dashed;
    border-color: green;
    padding: 10px;
}
.title:hover{
    background-color: green;
    color: black;
    cursor: pointer;
}
.mp{
    text-decoration: none;
    color: green;
}
.contact-us{
    padding: 40px;
    width: 100%;
}
.contact-us-on{
    text-align: center;
    font-size: 60px;
    color: black;
    background-color: green;
}
.hmu{
    color: green;
    font-size: 20px;
    text-align: center;
    padding: 15px;
}
.socials{
    text-align: center;
    line-height: 1.8;
    text-decoration: none;
    color: black;
    background-color: green;
}
.sm{
    text-decoration: none;
    color: green;
}
footer {
    border-top: 2px dashed green;
    padding: 30px;
    text-align: center;
    color: green;
    font-family: monospace;
    font-size: 20px;
    font-style: bolder;
    line-height: 40px;
}